@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');

@mixin fonts {
    font-family: 'Golos Text', sans-serif;
}

$first-breakpoint: 1250px;
$second-breakpoints: 1100px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    height: 135px;
    padding: 20px 0px;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .header-container-main-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .header-container-logo {
            display: flex;
            align-items: center;
            gap: 30px;

            img {
                width: 174.22px;
                height: 68.677px;
                flex-shrink: 0;
            }

            .katalog-button {
                text-decoration: none;
                color: #FCFCFC;
                @include fonts();
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                background-color: #f56e1e;
                display: flex;
                gap: 5px;
                align-items: center;
                padding: 10px 20px;
                border-radius: 10px;
                transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

                &:hover {
                    background-color: #fff;
                    outline: 2px solid #f56e1e;
                    color: #f56e1e;
                    transform: scale(0.9);
                    /* Increase size on hover */
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
                    /* Add a subtle shadow */
                }
            }
        }

        .header-container-box {
            .header-container-input {
                display: flex;
                width: 608px;
                height: 54px;
                padding: 12px;
                justify-content: space-between;
                align-items: center;
                border-radius: 12px;
                border: 1px solid #A0A3BC;
                background: #FFF;

                input {
                    padding: 10px 10px 10px 10px;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: var(--Gray-07, #A0A3BC);
                    @include fonts();
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;

                    ::-ms-input-placeholder {
                        color: #A0A3BC;
                        @include fonts();
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 100% */
                    }
                }

                a {
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    text-decoration: none;
                    color: #A0A3BC;
                }
            }

            .header-icon-home {
                display: flex;
                align-items: center;
                text-align: center;
                gap: 30px;

                .header-icon {
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                        flex-shrink: 0;
                    }

                    p {
                        color: #6E7191;
                        @include fonts();
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 133.333% */
                    }
                }
            }
        }
    }

    .header-container-bottom-box {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;

        .header-container-bottom-btn-1 {
            h5 {
                color: #A0A3BD;
                @include fonts();
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 40px;
                background: #F1F1F1;
                padding: 10px;
            }
        }

        .header-bottom-lang {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                border-radius: 50%;
            }

            h5 {
                color: #6E7191;
                @include fonts();
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 114.286% */
            }

            i {
                font-size: 12px;
                color: #6E7191;
            }
        }

        .header-bottom-navbar {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #6E7191;
                    @include fonts();
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &:hover {
                        color: #A0A3BC;
                    }
                }
            }
        }

        .header-bottom-icon-home {
            display: flex;
            flex-direction: row;
            gap: 24px;

            a {
                text-decoration: none;
                color: #6E7191;
                font-size: 22px;

                &:hover {
                    color: #A0A3BC;
                }
            }
        }

        .header-bottom-phone-number {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            h5 {
                a {
                    color: #F56E1E;
                    @include fonts();
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                }
            }

            a {
                text-decoration: none;
                color: #6E7191;
            }
        }

        .header-container-order-button {
            a {
                background-color: #F56E1E;
                color: #F1F1F1;
                padding: 10px;
                border-radius: 10px;
                transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                text-decoration: none;
                @include fonts();
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;

                &:hover {
                    background-color: #fff;
                    outline: 2px solid #f56e1e;
                    color: #f56e1e;
                    transform: scale(0.9);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.header-phone {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.first-section {
    margin-top: 50px;
    margin-bottom: 100px;

    .first-section-title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 63px;

        h4 {
            color: #6E7191;
            @include fonts();
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                color: #F56E1E;
            }
        }

        h1 {
            color: #4E4B66;
            @include fonts();
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
        }
    }

    .first-section-main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;

        .first-section-box {
            h5 {
                color: #6E7191;
                @include fonts();
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                /* 163.636% */
            }

            h6 {
                color: var(--Gray-02, #6E7191);
                font-family: Golos;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin-top: 5px;
            }

            img {
                width: 690px;
                height: 380px;
            }
        }
    }
}

.second-section {
    margin-bottom: 100px;

    .second-section-title {
        h2 {
            color: #6E7191;
            @include fonts();
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 30px;
        }
    }

    .second-section-main-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        .box-1 {
            border-radius: 12px;
            background: #1F69FB;
            padding: 25px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background-color: #3676f7;
                cursor: pointer;
            }
        }

        .box-2 {
            border-radius: 12px;
            background: #CD242F;
            padding: 15px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background-color: #cf3540;
                cursor: pointer;
            }

            img {
                width: 150px;
                height: 40px;
                flex-shrink: 0;
            }
        }

        .box-3 {
            border-radius: 12px;
            background: #FDBF32;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background-color: #ffcb51;
                cursor: pointer;
            }

            img {
                width: 150px;
                height: 32px;
                flex-shrink: 0;
            }
        }

        .box-4 {
            border-radius: 12px;
            background: #FD3249;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background-color: #fa465b;
                cursor: pointer;
            }
        }

        .box-5 {
            border-radius: 12px;
            background: var(--WB-grad, linear-gradient(48deg, #CB11AB 8.29%, #481173 148.38%));
            padding: 25px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background: var(--WB-grad, linear-gradient(15deg, #CB11AB 14%, #481173 120%));
                cursor: pointer;
            }

            img {
                width: 180px;
                height: 20px;
                flex-shrink: 0;
            }
        }

        .box-6 {
            border-radius: 12px;
            background: #ebe6e6;
            padding: 25px 0px;
            display: flex;
            justify-content: center;
            width: 270px;
            height: 70px;
            transition: all 0.2s;

            &:hover {
                background-color: #f7ebeb;
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: $first-breakpoint) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header-container-main-box {
        .header-container-box {
            .header-container-input {
                display: flex !important;
                width: 408px !important;
                margin: 0 auto;
                padding: 12px;
                justify-content: space-between;
                align-items: center;
                border-radius: 12px;
                border: 1px solid #A0A3BC;
                background: #FFF;

                input {
                    padding: 10px 10px 10px 10px;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: var(--Gray-07, #A0A3BC);
                    @include fonts();
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }

    }

    .order-text {
        display: none;
    }
}

@media screen and (max-width: $second-breakpoints) {
    .header-container-main-box {
        .header-container-box {
            .header-container-input {
                display: flex !important;
                width: 360px !important;
                margin: 0 auto;
                padding: 12px;
                justify-content: space-between;
                align-items: center;
                border-radius: 12px;
                border: 1px solid #A0A3BC;
                background: #FFF;

                input {
                    padding: 10px 10px 10px 10px;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: var(--Gray-07, #A0A3BC);
                    @include fonts();
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }

        .header-container-box {
            .header-icon-home {
                display: flex;
                align-items: center;
                text-align: center;
                gap: 20px !important;

                .header-icon {
                    cursor: pointer;

                    img {
                        width: 25px !important;
                        height: 25px !important;
                        flex-shrink: 0;
                    }

                    p {
                        color: #6E7191;
                        @include fonts();
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        /* 133.333% */
                    }
                }
            }
        }
    }
}